:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --color-bg-team: #f4f4fd;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  padding-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--primary-font);
  color: var(--color-secondary-text);
  background-color: var(--primary-bg-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* title */
.title {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main-text);
}
/* container */
.container {
  max-width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

/* logo */
.logo {
  display: inline-block;
  padding: 24px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  font-family: var(--secondary-font);
  color: var(--accent);
}
.logo-blue {
  color: var(--color-main-text);
}
/* nav  */

/* hero */
.hero {
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  background-color: var(--secondary-bg-color);
  text-align: center;
}
/* footer */
.footer {
  background-color: var(--secondary-bg-color);
}
.logo-white {
  color: var(--color-bg-team);
}
.text-white {
  color: var(--color-bg-team);
}
